{% load i18n %}

<h3>{% blocktrans with filter_title=title %} Berdasarkan rentang {{ filter_title }} {% endblocktrans %}</h3>
<ul>
  <li>
        <div style="display: flex;justify-content: space-between;width: 115px">
            <label for="tahun-dari">Dari</label>
            <input
               type="number"
               style="width: 50px"
               value="{{ spec.tahun_dari }}"
               name="tahun-dari"
               id="tahun-dari"
            />
        </div>
        <div style="display: flex;justify-content: space-between;width: 115px">
            <label for="tahun-hingga">Hingga</label>
            <input
               type="number"
               style="width: 50px"
               value="{{ spec.tahun_hingga }}"
               id="tahun-hingga"
               name="tahun-hingga"
            />
        </div>
    <form method="GET" action="" style="white-space:nowrap;" id="form-tahun">
        <input type="hidden" id="hidden-submit"
               name="{{ spec.parameter_name }}">
        <input type="button" value="Telusuri"
               onclick="
               const tahunDari = document.getElementById('tahun-dari').value;
               const tahunHingga = document.getElementById('tahun-hingga').value;
               document.getElementById('hidden-submit').value = tahunDari + '-' + tahunHingga;
               document.getElementById('form-tahun').submit()">
    </form>
  </li>
</ul>

<script>
    const splitUrl = window.location.href.split('/');
    const isInOutputHibahAdminPage = splitUrl[splitUrl.length-2] === "outputhibah";
    console.log(isInOutputHibahAdminPage)
    let placeholderValue = "Cari Author, Judul Ciptaan, atau Grant Title"
    if (isInOutputHibahAdminPage) {
        placeholderValue = "Cari Author atau Grant Title";
    }
    document.getElementById("searchbar").placeholder = placeholderValue;
</script>